
body {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    overflow: hidden;
    background-color: rgba(86, 86, 86, 0.6);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(73, 69, 69, 0.66);
    text-align: right;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: rgba(121, 121, 121, 0.87);
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgba(221, 221, 221, 0.8);
}
